.content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    line-height: 1;
}

.signature-pad {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 525px;
    top: 50%;
    margin-top: -300px;
    border: 1px solid #e8e8e8;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
    padding: 20px;
}

.signature-pad--body {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 350px;
    border: 2px solid #333;
}

.signature-pad--footer {
    position: relative;
    color: #0c0c0c;
    text-align: center;
    font-size: 1.2em;
    margin-top: 16px;
}

.signature-pad--actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 12px;
}

.signature-pad::before,
.signature-pad::after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 40%;
    height: 10px;
    bottom: 10px;
    background: transparent;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

canvas {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.signature-pad--body:after {
    position: relative;
    content: "(FIRMAR A ESTA ALTURA)";
    font-size: 20px;
    color: #33333396;
    z-index: 9999;

    display: flex;
    justify-content: center;

    top: -175px;


    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button-section-1{
    position: relative;
}

.save{

white-space: nowrap;

}

.clear{

white-space: nowrap;

}

.button-section-2{
    position: relative;
}
