@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?f14h0d');
  src:  url('/fonts/icomoon/icomoon.eot?f14h0d#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?f14h0d') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?f14h0d') format('woff'),
    url('/fonts/icomoon/icomoon.svg?f14h0d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-mobile:before {
  content: "\e000";
}
.icon-line-laptop:before {
  content: "\e001";
}
.icon-line-desktop:before {
  content: "\e002";
}
.icon-line-tablet:before {
  content: "\e003";
}
.icon-line-phone:before {
  content: "\e004";
}
.icon-line-document:before {
  content: "\e005";
}
.icon-line-documents:before {
  content: "\e006";
}
.icon-line-search:before {
  content: "\e007";
}
.icon-line-clipboard:before {
  content: "\e008";
}
.icon-line-newspaper:before {
  content: "\e009";
}
.icon-line-notebook:before {
  content: "\e00a";
}
.icon-line-book-open:before {
  content: "\e00b";
}
.icon-line-browser:before {
  content: "\e00c";
}
.icon-line-calendar:before {
  content: "\e00d";
}
.icon-line-presentation:before {
  content: "\e00e";
}
.icon-line-picture:before {
  content: "\e00f";
}
.icon-line-pictures:before {
  content: "\e010";
}
.icon-line-video:before {
  content: "\e011";
}
.icon-line-camera:before {
  content: "\e012";
}
.icon-line-printer:before {
  content: "\e013";
}
.icon-line-toolbox:before {
  content: "\e014";
}
.icon-line-briefcase:before {
  content: "\e015";
}
.icon-line-wallet:before {
  content: "\e016";
}
.icon-line-gift:before {
  content: "\e017";
}
.icon-line-bargraph:before {
  content: "\e018";
}
.icon-line-grid:before {
  content: "\e019";
}
.icon-line-expand:before {
  content: "\e01a";
}
.icon-line-focus:before {
  content: "\e01b";
}
.icon-line-edit:before {
  content: "\e01c";
}
.icon-line-adjustments:before {
  content: "\e01d";
}
.icon-line-ribbon:before {
  content: "\e01e";
}
.icon-line-hourglass:before {
  content: "\e01f";
}
.icon-line-lock:before {
  content: "\e020";
}
.icon-line-megaphone:before {
  content: "\e021";
}
.icon-line-shield:before {
  content: "\e022";
}
.icon-line-trophy:before {
  content: "\e023";
}
.icon-line-flag:before {
  content: "\e024";
}
.icon-line-map:before {
  content: "\e025";
}
.icon-line-puzzle:before {
  content: "\e026";
}
.icon-line-basket:before {
  content: "\e027";
}
.icon-line-envelope:before {
  content: "\e028";
}
.icon-line-streetsign:before {
  content: "\e029";
}
.icon-line-telescope:before {
  content: "\e02a";
}
.icon-line-gears:before {
  content: "\e02b";
}
.icon-line-key:before {
  content: "\e02c";
}
.icon-line-paperclip:before {
  content: "\e02d";
}
.icon-line-attachment:before {
  content: "\e02e";
}
.icon-line-pricetags:before {
  content: "\e02f";
}
.icon-line-lightbulb:before {
  content: "\e030";
}
.icon-line-layers:before {
  content: "\e031";
}
.icon-line-pencil:before {
  content: "\e032";
}
.icon-line-tools:before {
  content: "\e033";
}
.icon-line-tools-2:before {
  content: "\e034";
}
.icon-line-scissors:before {
  content: "\e035";
}
.icon-line-paintbrush:before {
  content: "\e036";
}
.icon-line-magnifying-glass:before {
  content: "\e037";
}
.icon-line-circle-compass:before {
  content: "\e038";
}
.icon-line-linegraph:before {
  content: "\e039";
}
.icon-line-mic:before {
  content: "\e03a";
}
.icon-line-strategy:before {
  content: "\e03b";
}
.icon-line-beaker:before {
  content: "\e03c";
}
.icon-line-caution:before {
  content: "\e03d";
}
.icon-line-recycle:before {
  content: "\e03e";
}
.icon-line-anchor:before {
  content: "\e03f";
}
.icon-line-profile-male:before {
  content: "\e040";
}
.icon-line-profile-female:before {
  content: "\e041";
}
.icon-line-bike:before {
  content: "\e042";
}
.icon-line-wine:before {
  content: "\e043";
}
.icon-line-hotairballoon:before {
  content: "\e044";
}
.icon-line-globe:before {
  content: "\e045";
}
.icon-line-genius:before {
  content: "\e046";
}
.icon-line-map-pin:before {
  content: "\e047";
}
.icon-line-dial:before {
  content: "\e048";
}
.icon-line-chat:before {
  content: "\e049";
}
.icon-line-heart:before {
  content: "\e04a";
}
.icon-line-cloud:before {
  content: "\e04b";
}
.icon-line-upload:before {
  content: "\e04c";
}
.icon-line-download:before {
  content: "\e04d";
}
.icon-line-target:before {
  content: "\e04e";
}
.icon-line-hazardous:before {
  content: "\e04f";
}
.icon-line-piechart:before {
  content: "\e050";
}
.icon-line-speedometer:before {
  content: "\e051";
}
.icon-line-global:before {
  content: "\e052";
}
.icon-line-compass:before {
  content: "\e053";
}
.icon-line-lifesaver:before {
  content: "\e054";
}
.icon-line-clock:before {
  content: "\e055";
}
.icon-line-aperture:before {
  content: "\e056";
}
.icon-line-quote:before {
  content: "\e057";
}
.icon-line-scope:before {
  content: "\e058";
}
.icon-line-alarmclock:before {
  content: "\e059";
}
.icon-line-refresh:before {
  content: "\e05a";
}
.icon-line-happy:before {
  content: "\e05b";
}
.icon-line-sad:before {
  content: "\e05c";
}
.icon-line-facebook:before {
  content: "\e05d";
}
.icon-line-twitter:before {
  content: "\e05e";
}
.icon-line-googleplus:before {
  content: "\e05f";
}
.icon-line-rss:before {
  content: "\e060";
}
.icon-line-tumblr:before {
  content: "\e061";
}
.icon-line-linkedin:before {
  content: "\e062";
}
.icon-line-dribbble:before {
  content: "\e063";
}
